  <script defer src="/js/login.js"></script>
<form action="/users/login" method="post" id="logUser">

  <h2 id="error"></h2>
  <div class="mb-3">
    <label for="exampleInputLogin" class="form-label">Email</label>
    <input type="text" class="form-control" name="email">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
</form>
